.card {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;

  width: 100%;
  max-width: 42rem;
  margin: 0 auto;
  padding: 3.3rem 3.6rem 4.1rem;

  .title {
    margin-bottom: 2.7rem;
  }

  .avatarUploader {
    margin-bottom: 0.6rem;
  }

  .profileInfoBlock {
    text-align: center;

    .userNameWrapper {
      display: flex;
      gap: 0.9rem;
      align-items: center;
      justify-content: center;
    }

    .email {
      margin-bottom: 1.3rem;
      color: var(--color-dark-100);
    }
  }
}
